<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.lukewaite.alfred.target-process</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>271F6611-9160-410D-B22E-8B5FB94CF040</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>71DD938B-D3C8-4585-BFAC-010B1651BC40</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Luke Waite</string>
	<key>description</key>
	<string>Open Target Process items</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>TargetProcess</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tp</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open TP Ticket</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>271F6611-9160-410D-B22E-8B5FB94CF040</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://{var:TP_URL}.tpondemand.com/entity/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>71DD938B-D3C8-4585-BFAC-010B1651BC40</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Setup and Usage
* Open Alfred and click the `[x]` icon in the top right of the workflow
* Set your TP Slug as a workflow environment variable
  * eg, `https://mycompany.tpondemand.com` becomes `mycompany`
* Run `tp &lt;id #&gt;` to navigate to a ticket, eg: `tp 1123`</string>
	<key>uidata</key>
	<dict>
		<key>271F6611-9160-410D-B22E-8B5FB94CF040</key>
		<dict>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>71DD938B-D3C8-4585-BFAC-010B1651BC40</key>
		<dict>
			<key>xpos</key>
			<integer>345</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>TP_URL</key>
		<string>intouchinsight</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>TP_URL</string>
	</array>
	<key>version</key>
	<string>0.3.0</string>
	<key>webaddress</key>
	<string>https://lukewaite.ca</string>
</dict>
</plist>
