<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.lukewaite.alfred.target-process</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>460F308F-054B-4E7D-87CD-79C7070D4CB8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6D3C27EB-8E41-432D-AECA-0267318981E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B1B257AC-9399-424B-BB6D-DB0CD23C44AC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>401F9FDA-28A7-4EE0-8EAD-CCC538DD803B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Luke Waite</string>
	<key>description</key>
	<string>Open Target Process items</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>TargetProcess</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>tp</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>python target-process.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>eg. tp 1123</string>
				<key>title</key>
				<string>Jump to Target Process Issue</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B1B257AC-9399-424B-BB6D-DB0CD23C44AC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>401F9FDA-28A7-4EE0-8EAD-CCC538DD803B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tpsettings</string>
				<key>subtext</key>
				<string>Set TP Instance URL</string>
				<key>text</key>
				<string>Edit Target Process Settings</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>460F308F-054B-4E7D-87CD-79C7070D4CB8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python target-process.py --settings</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6D3C27EB-8E41-432D-AECA-0267318981E1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Setup and Usage
* Run `tpsettings` and configure your instance URL in the editor, save, and go!
* Run `tp &lt;id #&gt;` to navigate to a ticket, eg: `tp 1123`</string>
	<key>uidata</key>
	<dict>
		<key>401F9FDA-28A7-4EE0-8EAD-CCC538DD803B</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>460F308F-054B-4E7D-87CD-79C7070D4CB8</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>6D3C27EB-8E41-432D-AECA-0267318981E1</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>B1B257AC-9399-424B-BB6D-DB0CD23C44AC</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string>https://lukewaite.ca</string>
</dict>
</plist>
